Here is the rubric I will be using to grade Lab 3.  You must have these exact sections in your project, if you want me to grade it!  Lab 3 is due Sunday, 11/28/2021 by 11:59PM.

Category |Available |Requirements
-----|-----|----- 
Total Points | 100 | 
Business Understanding 1 |10|Describe the purpose of the data set you selected (i.e., why was this data collected in the first place?). How will you measure the effectiveness of a good algorithm? Why does your chosen validation method make sense for this specific dataset and the stakeholders needs?
Data Understanding 1 | 10 |Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file. Verify data quality: Are there missing values? Duplicate data? Outliers? Are those mistakes? How do you deal with these problems?
Data Understanding 2|10|Visualize the any important attributes appropriately. Important: Provide an interpretation for any charts or graphs.
Modeling and Evaluation 1|10|Train and adjust parameters
Modeling and Evaluation 2|10|Evaluate and Compare
Modeling and Evaluation 3|10|Visualize Results
Modeling and Evaluation 4|20|Summarize the Ramifications
Deployment|10|Be critical of your performance and tell the reader how you current model might be usable by other parties. Did you achieve your goals? If not, can you reign in the utility of your modeling? How useful is your model for interested parties (i.e., the companies or organizations that might want to use it)? How would your deploy your model for interested parties? What other data should be collected? How often would the model need to be updated, etc.?
Exceptional Work|10|You have free reign to provide additional analyses or combine analyses.

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='darkgrid')

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# Business Understanding 1

Describe the purpose of the data set you selected (i.e., why was this data collected in the first place?). How will you measure the effectiveness of a good algorithm? Why does your chosen validation method make sense for this specific
dataset and the stakeholders needs?

# Data Understanding 1

Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file. Verify data quality: Are there missing values? Duplicate data? Outliers? Are those mistakes? How do you deal with these problems?

In [28]:
hotel = pd.read_csv("data/hotel_bookings.csv",low_memory=False)

In [29]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

One hot encode "hotel", 'arrival_date_month', 'customer_type', 'reservation_status', 'deposit_type' but first make sure you check for dups

drop company column and reservation_status_date

remove NA rows for agent

In [30]:
# dropping company column as there isn't enough data 
del hotel['company']
del hotel['country']

#### Checking for duplicates

In [6]:
pd.set_option("display.max_columns", 101)

In [7]:
hotel.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,391.000000,5400.000000,8.000000,5.000000

#### Dropping NA values from agent 

the loss of data is not significant

In [31]:
hotel.isna().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             16340
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [32]:
hotel=hotel.dropna(subset=['agent',"children"])

In [33]:
hotel.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

# Data Understanding 2

Visualize the any important attributes appropriately. Important: Provide an interpretation for any charts or graphs.

In [ ]:
# Count for both hotel types
sns.set(style = "darkgrid")
plt.figure(figsize=(5,4))
plt.title('Hotel Type', fontdict = {'fontsize': 15})
sns.countplot(data=hotel, x = 'hotel')
plt.show()

In [ ]:
sns.countplot(data=hotel, x = 'hotel', hue='is_canceled')

In [ ]:
sns.catplot(x="customer_type", y="lead_time",kind="box", data=hotel)

In [ ]:
#Count of Hotel Bookings by Month
fig = plt.figure(figsize=(10,5), dpi = 100)
sns.countplot(data=hotel, x = 'arrival_date_month')
plt.xlabel('Month', fontsize=15)
plt.xticks(rotation=45,fontsize=11);

In [ ]:
plt.figure(figsize=(15,8))
sns.kdeplot(hotel["adults"],shade=True)

In [ ]:
#Count of hotel Booking by year
sns.countplot(data=hotel, x=hotel['arrival_date_year'], palette='Set1')

In [ ]:
plt.figure(figsize=(15,8))
sns.kdeplot(hotel["lead_time"],shade=True)

In [ ]:
#Distribution of price of each room type
plt.figure(figsize=(15,10))
sns.boxplot(data=hotel[hotel['is_canceled'] == 0],x='reserved_room_type',y='adr',hue='hotel')
plt.title('Price Of Room Types Per Night')
plt.xlabel('Type Of Room')
plt.ylabel('Price Per Night')
plt.show()

In [ ]:
#Analysing preference of guests
plt.figure(figsize=(10,8))
sns.barplot(x=hotel[hotel['is_canceled']==0].groupby('market_segment')['stays_in_weekend_nights'].count().index,
            y=hotel[hotel['is_canceled']==0].groupby('market_segment')['stays_in_weekend_nights'].count())

In [ ]:
#Distribution of nights spent at hotels by market segment and hotel type
plt.figure(figsize=(15,10))
sns.boxplot(data=hotel[hotel['is_canceled'] == 0],x='market_segment',y='stays_in_weekend_nights',hue='hotel')
plt.ylabel('Num Of Nights')
plt.show()

In [ ]:
#Meal Category acroos the two hotel types
sns.countplot(data = hotel, x = 'meal', hue='hotel')
plt.title('Meal Category Across Hotel', fontdict={'fontsize' : 20})
plt.show()

In [ ]:
hotel.info()

In [ ]:
hotel.head()

In [ ]:
hotel["reservation_status"].value_counts()

In [ ]:
hotel["is_canceled"].value_counts()

In [ ]:
hotel["deposit_type"].value_counts()

Removed the reservation_status and reservation_status_date because of multicolinearity with the response variable is_cancelled.

In [34]:
new_hotel = hotel.drop(columns=["reservation_status","reservation_status_date"])

In [35]:
new_hotel.reset_index(inplace=True,drop=True)

In [37]:
new_hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103048 entries, 0 to 103047
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           103048 non-null  object
 1   is_canceled                     103048 non-null  int64
 2   lead_time                       103048 non-null  int64
 3   arrival_date_year               103048 non-null  int64
 4   arrival_date_month              103048 non-null  object
 5   arrival_date_week_number        103048 non-null  int64
 6   arrival_date_day_of_month       103048 non-null  int64
 7   stays_in_weekend_nights         103048 non-null  int64
 8   stays_in_week_nights            103048 non-null  int64
 9   adults                          103048 non-null  int64
 10  children                        103048 non-null  float64
 11  babies                          103048 non-null  int64
 12  meal                            103048 non-null  object
 13  market_segment                  103048 non-null  object
 14  distribution_channel            103048 non-null  object
 15  is_repeated_guest               103048 non-null  int64
 16  previous_cancellations          103048 non-null  int64
 17  previous_bookings_not_canceled  103048 non-null  int64
 18  reserved_room_type              103048 non-null  object
 19  assigned_room_type              103048 non-null  object
 20  booking_changes                 103048 non-null  int64
 21  deposit_type                    103048 non-null  object
 22  agent                           103048 non-null  float64
 23  days_in_waiting_list            103048 non-null  int64
 24  customer_type                   103048 non-null  object
 25  adr                             103048 non-null  float64
 26  required_car_parking_spaces     103048 non-null  int64
 27  total_of_special_requests       103048 non-null  int64
dtypes: float64(3), int64(16), object(9)
memory usage: 22.0+ MB

#### One hot encoding

"hotel", 'arrival_date_month', 'customer_type', 'reservation_status', 'deposit_type'

In [38]:
#One hot encode specific columns without standardizing and scaling continuous variables
from sklearn.preprocessing import OneHotEncoder
categorical_features = ["hotel", 'arrival_date_month', 'meal','market_segment','distribution_channel',
                        'reserved_room_type', 'assigned_room_type', 'deposit_type','customer_type']

ohe = OneHotEncoder(drop="first")

hotel_object = new_hotel.select_dtypes('object')
ohe.fit(hotel_object)

codes = ohe.transform(hotel_object).toarray()
feature_names = ohe.get_feature_names(categorical_features)

new_hotel = pd.concat([new_hotel.select_dtypes(exclude='object'), 
               pd.DataFrame(codes,columns=feature_names).astype(int)], axis=1)

/opt/anaconda3/envs/ml/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [39]:
new_hotel

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,hotel_Resort Hotel,arrival_date_month_August,arrival_date_month_December,arrival_date_month_February,arrival_date_month_January,arrival_date_month_July,arrival_date_month_June,arrival_date_month_March,arrival_date_month_May,arrival_date_month_November,arrival_date_month_October,arrival_date_month_September,meal_FB,meal_HB,meal_SC,meal_Undefined,market_segment_Complementary,market_segment_Corporate,market_segment_Direct,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,distribution_channel_Direct,distribution_channel_GDS,distribution_channel_TA/TO,reserved_room_type_B,reserved_room_type_C,reserved_room_type_D,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,reserved_room_type_H,assigned_room_type_B,assigned_room_type_C,assigned_room_type_D,assigned_room_type_E,assigned_room_type_F,assigned_room_type_G,assigned_room_type_H,assigned_room_type_I,assigned_room_type_K,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,13,2015,27,1,0,1,1,0.0,0,0,0,0,0,304.0,0,75.00,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,14,2015,27,1,0,2,2,0.0,0,0,0,0,0,240.0,0,98.00,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,14,2015,27,1,0,2,2,0.0,0,0,0,0,0,240.0,0,98.00,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,9,2015,27,1,0,2,2,0.0,0,0,0,0,0,303.0,0,103.00,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
4,1,85,2015,27,1,0,3,2,0.0,0,0,0,0,0,240.0,0,82.00,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103043,0,23,2017,35,30,2,5,2,0.0,0,0,0,0,0,394.0,0,96.14,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
103044,0,102,2017,35,31,2,5,3,0.0,0,0,0,0,0,9.0,0,225.43,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
103045,0,34,2017,35,31,2,5,2,0.0,0,0,0,0,0,9.0,0,157.71,0,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
103046,0,109,2017,35,31,2,5,2,0.0,0,0,0,0,0,89.0,0,104.40,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
103047,0,205,2017,35,29,2,7,2,0.0,0,0,0,0,0,9.0,0,151.20,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [45]:
new_hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103048 entries, 0 to 103047
Data columns (total 65 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   is_canceled                     103048 non-null  int64
 1   lead_time                       103048 non-null  int64
 2   arrival_date_year               103048 non-null  int64
 3   arrival_date_week_number        103048 non-null  int64
 4   arrival_date_day_of_month       103048 non-null  int64
 5   stays_in_weekend_nights         103048 non-null  int64
 6   stays_in_week_nights            103048 non-null  int64
 7   adults                          103048 non-null  int64
 8   children                        103048 non-null  float64
 9   babies                          103048 non-null  int64
 10  is_repeated_guest               103048 non-null  int64
 11  previous_cancellations          103048 non-null  int64
 12  previous_bookings_not_canceled  103048 non-null  int64
 13  booking_changes                 103048 non-null  int64
 14  agent                           103048 non-null  float64
 15  days_in_waiting_list            103048 non-null  int64
 16  adr                             103048 non-null  float64
 17  required_car_parking_spaces     103048 non-null  int64
 18  total_of_special_requests       103048 non-null  int64
 19  hotel_Resort Hotel              103048 non-null  int64
 20  arrival_date_month_August       103048 non-null  int64
 21  arrival_date_month_December     103048 non-null  int64
 22  arrival_date_month_February     103048 non-null  int64
 23  arrival_date_month_January      103048 non-null  int64
 24  arrival_date_month_July         103048 non-null  int64
 25  arrival_date_month_June         103048 non-null  int64
 26  arrival_date_month_March        103048 non-null  int64
 27  arrival_date_month_May          103048 non-null  int64
 28  arrival_date_month_November     103048 non-null  int64
 29  arrival_date_month_October      103048 non-null  int64
 30  arrival_date_month_September    103048 non-null  int64
 31  meal_FB                         103048 non-null  int64
 32  meal_HB                         103048 non-null  int64
 33  meal_SC                         103048 non-null  int64
 34  meal_Undefined                  103048 non-null  int64
 35  market_segment_Complementary    103048 non-null  int64
 36  market_segment_Corporate        103048 non-null  int64
 37  market_segment_Direct           103048 non-null  int64
 38  market_segment_Groups           103048 non-null  int64
 39  market_segment_Offline TA/TO    103048 non-null  int64
 40  market_segment_Online TA        103048 non-null  int64
 41  distribution_channel_Direct     103048 non-null  int64
 42  distribution_channel_GDS        103048 non-null  int64
 43  distribution_channel_TA/TO      103048 non-null  int64
 44  reserved_room_type_B            103048 non-null  int64
 45  reserved_room_type_C            103048 non-null  int64
 46  reserved_room_type_D            103048 non-null  int64
 47  reserved_room_type_E            103048 non-null  int64
 48  reserved_room_type_F            103048 non-null  int64
 49  reserved_room_type_G            103048 non-null  int64
 50  reserved_room_type_H            103048 non-null  int64
 51  assigned_room_type_B            103048 non-null  int64
 52  assigned_room_type_C            103048 non-null  int64
 53  assigned_room_type_D            103048 non-null  int64
 54  assigned_room_type_E            103048 non-null  int64
 55  assigned_room_type_F            103048 non-null  int64
 56  assigned_room_type_G            103048 non-null  int64
 57  assigned_room_type_H            103048 non-null  int64
 58  assigned_room_type_I            103048 non-null  int64
 59  assigned_room_type_K            103048 non-null  int64
 60  deposit_type_Non Refund         103048 non-null  int64
 61  deposit_type_Refundable         103048 non-null  int64
 62  customer_type_Group             103048 non-null  int64
 63  customer_type_Transient         103048 non-null  int64
 64  customer_type_Transient-Party   103048 non-null  int64
dtypes: float64(3), int64(62)
memory usage: 51.1 MB

In [48]:
X = new_hotel.drop("is_canceled",axis=1)
y = new_hotel["is_canceled"].values

In [58]:
y

array([0, 0, 0, ..., 0, 0, 0])

# Modeling and Evaluation 1

train and adjust parameters (GridSearch)

In [62]:
from sklearn.model_selection import StratifiedShuffleSplit
cv = StratifiedShuffleSplit(n_splits=3, test_size=0.10, random_state=0)

In [59]:
from sklearn.model_selection import cross_validate

def EvaluateClassifierEstimator(classifierEstimator, X, y, cv):
   
    #Perform cross validation 
    scores = cross_validate(classifierEstimator, X, y, scoring=['accuracy','precision','recall']
                            , cv=cv, return_train_score=True)

    Accavg = scores['test_accuracy'].mean()
    Preavg = scores['test_precision'].mean()
    Recavg = scores['test_recall'].mean()

    print_str = "The average accuracy for all cv folds is: \t\t\t {Accavg:.5}"
    print_str2 = "The average precision for all cv folds is: \t\t\t {Preavg:.5}"
    print_str3 = "The average recall for all cv folds is: \t\t\t {Recavg:.5}"

    print(print_str.format(Accavg=Accavg))
    print(print_str2.format(Preavg=Preavg))
    print(print_str3.format(Recavg=Recavg))
    print('*********************************************************')

    print('Cross Validation Fold Mean Error Scores')
    scoresResults = pd.DataFrame()
    scoresResults['Accuracy'] = scores['test_accuracy']
    scoresResults['Precision'] = scores['test_precision']
    scoresResults['Recall'] = scores['test_recall']

    return scoresResults

In [65]:
%%time
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(max_iter=10000)

EvaluateClassifierEstimator(clf, X, y, cv)

The average accuracy for all cv folds is: 			 0.79744
The average precision for all cv folds is: 			 0.82243
The average recall for all cv folds is: 			 0.613
*********************************************************
Cross Validation Fold Mean Error Scores
CPU times: user 6min 2s, sys: 27.3 s, total: 6min 30s
Wall time: 1min 40s

   Accuracy  Precision    Recall
0  0.791557   0.810901  0.607116
1  0.802620   0.831607  0.619308
2  0.798156   0.824791  0.612590

# Modeling and Evaluation 2

evaluate and compare

# Modeling and Evaluation 3

Visualize

# Modeling and Evaluation 4

Summarize and ramifications

# Deployment

Be critical of your performance and tell the reader how you current model might be usable by other parties. Did you achieve your goals? If not, can you reign in the utility of your modeling? How useful is your model for interested parties (i.e., the companies or organizations that might want to use it)? How would your deploy your model for interested parties? What other data should be collected? How often would the model need to be updated, etc.?

# Exceptional Work

You have free reign to provide additional analyses or combine analyses.